body {
    background-color: #f2f2f2;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    padding-top: 10px;

    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.logo {
    width: 100%;
    padding-bottom: 20px;
}

h1 h2 h3 h4 h5 h6 {
    margin-top: 0px;
    padding-top: 0px;
}

.scrollableFullHeightContent {
    max-height: 90vh;
    overflow-y: auto;
}
