.profile-image {
    width: 12em;
    height: 12em;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-top: -15px;
    margin-left: -15px;
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}
