* {
  user-select: none;
}

body {
  color: rgba(30, 30, 30)
}

h2, h3 {
  margin-top: 0px;
}

.mini-panel h4 {
  margin-top: 0px;
}

.content {
  background-color: rgba(255, 255, 255, 0.95);
  transition: opacity 0.2s linear 0.5s;
  border-radius: 15px;
  position: absolute;
  padding: 15px;
  overflow-y: auto;
}

a {
  transition: text-shadow 0.15s linear;
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 1px #474747;
}
.content-hidden {
  z-index:-1;
  opacity: 0;
}

.content-active {
  opacity: 1;
}

html {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.contact-items > span {
  margin-top: 8px;
  display: block;
}

.mini-panel {
  border: solid 1px lightgray;
  box-shadow: 0px 0px 10px gray;
  margin-top: 10px;
  border-radius: 3px;
  padding: 10px;
}

.icon {
  width: 16px;
  height: 16px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  align-items: center;
}

.flex-gapped {
  gap: 1em;
}