h2, h3, h4 {
  margin-top: 0px;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;

  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.button {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.95);
  font-size: 15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.8s cubic-bezier(0.87, -0.41, 0.19, 1.44);
  transition: all 0.8s cubic-bezier(0.87, -0.41, 0.19, 1.44);
}

.menu > .button {
  width: 160px;
  height: 160px;
  left: -80px;
  top: -80px;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: #03a9f4;
}
.menu .level-2 > .button {
  font-size: 1rem;
  line-height: 1rem;
  color: #03a9f4;
  z-index: -2;
  display: inline-flex;
  position: absolute;
}

.menu .level-2 > .button:nth-child(1) {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.menu .level-2 > .button:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.menu .level-2 > .button:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.menu .level-2 > .button:nth-child(4) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.menu .level-2 > .button:nth-child(5) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.menu-initial .level-2 > .button {
  opacity: 0;
  top: -60px;
  left: -60px;
}

.menu-expanded .level-2 > .button {
  opacity: 1;
  z-index: 2;
}

@media only screen and (min-width: 640px) {
  .menu-expanded .level-2 > .button:nth-child(1) {
    top: -220px;
    left: -60px;
  }

  .menu-expanded .level-2 > .button:nth-child(2) {
    top: -120px;
    left: 90px;
  }

  .menu-expanded .level-2 > .button:nth-child(3) {
    top: 60px;
    left: 40px;
  }

  .menu-expanded .level-2 > .button:nth-child(4) {
    top: 60px;
    left: -160px;
  }

  .menu-expanded .level-2 > .button:nth-child(5) {
    top: -120px;
    left: -210px;
  }
}
@media only screen and (max-width: 639px) {
  .menu-expanded .level-2 > .button:nth-child(1) {
    top: -270px;
    left: -60px;
  }

  .menu-expanded .level-2 > .button:nth-child(2) {
    top: -170px;
    left: 40px;
  }

  .menu-expanded .level-2 > .button:nth-child(3) {
    top: 60px;
    left: 40px;
  }

  .menu-expanded .level-2 > .button:nth-child(4) {
    top: 60px;
    left: -160px;
  }

  .menu-expanded .level-2 > .button:nth-child(5) {
    top: -170px;
    left: -160px;
  }
}

.menu-final {
  left: 0%;
  top: 0%;
}

.menu-final .level-2 > .button {
  top: 0px;
  left: 0px;
  z-index: 2;
  opacity: 1;
  height: 30px;
  border-radius: 15px;
}

@media only screen and (min-width: 640px) {
  .content {
    height: calc(100vh - 90px);
    width: calc(100vw - 30px - 10px);
    margin-top: 40px;
    left: 5px;
  }
  .menu-final .level-2 > .button:nth-child(1) {
    top: 5px;
    left: 5px;
  }
  .menu-final .level-2 > .button:nth-child(2) {
    top: 5px;
    left: 130px;
  }
  .menu-final .level-2 > .button:nth-child(3) {
    top: 5px;
    left: 255px;
  }
  .menu-final .level-2 > .button:nth-child(4) {
    top: 5px;
    left: 380px;
  }
  .menu-final .level-2 > .button:nth-child(5) {
    top: 5px;
    left: 505px;
  }
}

@media only screen and (max-width: 639px) {
  .content {
    margin-top: 150px;
    height: calc(100% - 200px);
    left: 0px;
    width: calc(100vw - 30px);
  }
  .menu-final {
    width: 100%;
  }
  .menu-final .level-2 {
    width: 100%;
  }
  .menu-final .level-2 > .button:nth-child(1) {
    top: 0px;
    width: 100%;
  }
  .menu-final .level-2 > .button:nth-child(2) {
    top: 30px;
    width: 100%;
  }
  .menu-final .level-2 > .button:nth-child(3) {
    top: 60px;
    width: 100%;
  }
  .menu-final .level-2 > .button:nth-child(4) {
    top: 90px;
    width: 100%;
  }
  .menu-final .level-2 > .button:nth-child(5) {
    top: 120px;
    width: 100%;
  }
}

.menu-final > .button {
  opacity: 0;
}

.btn-lang {
  width: 100%;
  height: 100%;
}
.btn-lang,
.btn-logo {
  transition: all 0.5s ease;
}

.btn-logo {
  top: -110px;
  position: relative;
  text-align: center;
  transform: translateY(200px);
  opacity: 0;
}

.menu-expanded .btn-lang,
.menu-final .btn-lang {
  transform: translateY(-200px);
  opacity: 0;
}

.menu-expanded .btn-logo,
.menu-final .btn-logo {
  transform: translateY(0px);
  opacity: 1;
}

.btn-lang-top {
  text-align: center;
  padding: 40px 0 20px 0;
  height: 20px;
  border-bottom: 1px solid grey;
  z-index: 3;
}

.btn-lang-bottom {
  text-align: center;
  padding: 20px 0 40px 0;
  height: 20px;
  border-top: 1px solid grey;
  z-index: 3;
  left: 0;
}

.content {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-transition: opacity 0.2s linear 0.5s;
  transition: opacity 0.2s linear 0.5s;
  border-radius: 15px;
  position: absolute;
  padding: 15px;
  overflow-y: auto;
}

a {
  transition: text-shadow 0.15s linear;
  text-decoration: none;
}

a:hover {
  text-shadow: 0px 0px 1px #474747;
}
.content-hidden {
  z-index:-1;
  opacity: 0;
}

.content-active {
  opacity: 1;
}

html {
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

.contact-items > span {
  margin-top: 8px;
  display: block;
}

.mini-panel {
  border: solid 1px lightgray;
  box-shadow: 0px 0px 10px gray;
  margin-top: 10px;
  border-radius: 3px;
  padding: 10px;
}

.icon {
  width: 16px;
  height: 16px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  align-items: center;
}

.flex-gapped {
  gap: 1em;
}